* {
  padding: 0;
  margin: 5px auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: none;
  border-radius: 2px;
}

body {
  background-color: rgb(240, 238, 238);
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.title {
  font: 2em sans-serif;
  color: #121f2b;
}
h3 {
  font-weight: 200;
  color: #1a9c03;
}

.contener {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.name {
  grid-area: 1/1/2/6;
}
.date {
  grid-area: 2/1/3/2;
}
.amount {
  grid-area: 2/2/3/3;
}

.date input {
  color: #837e7e;
}

input {
  border: solid 1px #c9c4c4;
  height: 25px;
}

@media (max-width: 460px) {
  .name input {
    width: 50vw;
  }
  .date input,
  .amount input {
    width: 25vw;
  }
}
@media (min-width: 460px) {
  .name input {
    width: 70vw;
  }
  .date input,
  .amount input {
    width: 30vw;
  }
}

.add {
  border: solid 1px white;
  color: white;
  background-color: #1a9c03;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 25px;
}
.add:hover {
  font-size: medium;
  margin-bottom: 22px;
}

table {
  border-collapse: collapse;
  margin-bottom: 0px;
  width: 90vw;
}

table th,
table td {
  border: solid 1px #c9c4c4;
  padding: 5px;
  text-align: start;
  font-size: small;
  text-indent: 5px;
}
.delet {
  padding: 5px;
  border: solid 1px white;
  background-color: navajowhite;
}

.delet:hover {
  background-color: white;
  border-color: navajowhite;
}

.empty {
  border: solid 1px #c9c4c4;
  width: calc(90vw - 12px);
  background-color: #cac9c9;
  margin-top: 0px;
  padding: 5px;
  text-align: start;
  font-size: 10px;
  font-weight: 500;
  word-spacing: 2px;
}

@media (min-width: 1000px) {
  body {
    padding: 0 10vw 0 10vw;
  }
  .name input {
    width: 50vw;
  }
  .date input,
  .amount input {
    width: 20vw;
  }
  table {
    width: 60vw;
  }
  .empty {
    width: calc(60vw - 12px);
  }
}
